# Auto detect text files
* text=auto

# Source files
*.java text diff=java
*.xml text
*.yml text
*.properties text
*.sql text
*.md text

# Binary files
*.jar binary
*.png binary
*.jpg binary
*.pdf binarys
